:root {
    --dots-bg-spoke-display-area: rgb(230, 253, 196);
  }

header {
    background-color: white;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
}

header .onedot-top-panel .onedot-label {
    width: 5em;
}

header .onedot-top-panel textarea#onedot-collection {

    height: 10rem;
    overflow-y: auto;
    overflow-x: auto;
    background-color: gainsboro;
    border: 1px solid gray;
    white-space: pre-wrap;
    font-size: small;
}

section#onedot-playpen {
    margin-top: 0.5rem;
}

section#onedot-playpen div#spoke-area.spoke-display-area {
    min-height: 10rem;
}

div.spoke-display-area {
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spoke-simple-draw-area {
    padding: 1rem;
    background-color: var(--dots-bg-spoke-display-area);
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    border: 1px solid forestgreen;
}

.spoke-simple-draw-area .spoke-simple-draw-harmony {
    padding: 0.25rem;
    color: skyblue;
    padding: 0.5rem;
    border: 1px blue dashed;

}

.spoke-simple-draw-area  .spoke-simple-draw-dot {
    width: fit-content;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 0.9;
    padding: 0.1rem;
    display: inline-block;
    margin: 0.12rem;
}



